* {
  margin: 0;
  padding: 0;
}

:root {
  --primary-color: #edf2fc;
  --secondary-color: #212121;
}

.dark-theme {
  --primary-color: #000106dd;
  --secondary-color: #fff;
}

#icon {
  width: 30px;
  cursor: pointer;
}

.hero {
  height: 100vh;
  width: 100%;
  background-color: var(--primary-color);
  font-family: sans-serif;
  position: relative;
}

nav {
  width: 84%;
  margin: auto;
  padding: 20px 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

nav ul {
  flex: 1;
  text-align: right;
}

.logo {
  font-size: 32px;
  color: #562e84;
}

nav ul li {
  display: inline-block;
  margin: 10px 10px;
  list-style: none;
}

nav ul li a {
  text-decoration: none;
  color: var(--secondary-color);
}

nav ul li a:hover {
  text-decoration: underline;
}

.info {
  margin-left: 8%;
  margin-top: 15%;
}

.info h1 {
  font-size: 70px;
  color: #212121;
  margin-bottom: 20px;
}

.info h1 span {
  color: #562e84;
}

.info p {
    color: var(--secondary-color);
}

.img-box {
  width: 45%;
  height: 80%;
  position: absolute;
  bottom: 0;
  right: 100px;
}

.img-box img {
  height: 100%;
  position: absolute;
  left: 50%;
  bottom: 0;
  transform: translateX(-50%);
  transition: bottom 1s, left 1s;
}

.img-box:hover .back-img {
  bottom: 40px;
}

.img-box:hover .main-img {
  left: 54%;
}

.social-media {
  margin-top: 35px;
  margin-left: 8%;
}

.social-media a {
  font-size: 30px;
  color: var(--secondary-color);
  margin-right: 20px;
}

.social-media a:hover {
  color: #562e84;
}

@media (max-width: 667px) {
  .img-box img {
    height: 50%;
    left: 50%;
  }
}

@media (max-width: 700px) {
  .info h1 {
    font-size: 56px;
  }

  .img-box img {
    height: 60%;
    left: 50%;
  }
}
